[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dcanr"]
	path = dcanr
	url = https://github.com/davislaboratory/dcanr
[submodule "hoodscanR"]
	path = hoodscanR
	url = https://github.com/davislaboratory/hoodscanr
[submodule "mastR"]
	path = mastR
	url = https://github.com/davislaboratory/mastr
[submodule "msImpute"]
	path = msImpute
	url = https://github.com/davislaboratory/msimpute
[submodule "singscore"]
	path = singscore
	url = https://github.com/davislaboratory/singscore
[submodule "standR"]
	path = standR
	url = https://github.com/davislaboratory/standr
[submodule "vissE"]
	path = vissE
	url = https://github.com/davislaboratory/visse
