[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "dcanr"]
	path = dcanr
	url = https://github.com/davislaboratory/dcanr
	shallow = true
	registered = true
[submodule "mastR"]
	path = mastR
	url = https://github.com/davislaboratory/mastr
	shallow = true
	registered = true
[submodule "msImpute"]
	path = msImpute
	url = https://github.com/davislaboratory/msimpute
	shallow = true
	registered = true
[submodule "singscore"]
	path = singscore
	url = https://github.com/davislaboratory/singscore
	shallow = true
	registered = true
[submodule "standR"]
	path = standR
	url = https://github.com/davislaboratory/standr
	shallow = true
	registered = true
[submodule "vissE"]
	path = vissE
	url = https://github.com/davislaboratory/visse
	shallow = true
	registered = true
